/* ------------------------ GENERAL ------------------------ */
 
body{
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #CCCCFF;
}

/* ------------------------ HEADERS ------------------------ */

h1 {
	font-family: 'Amatic SC', 'Helvetica', sans-serif;
	position: absolute;
	top: 1em;
	left: 20%;
	width: 60%;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
	color: #6666ff;
}

/* ------------------------ IMAGES ------------------------ */

img.icon {
	border: .2em solid #6666ff;
	color: #FFF;
	opacity: 1;
	background-color: transparent;
}

img.icon:hover{
	transition: .3s ease-in-out;
	opacity: .5;
	background-color: transparent;
}

img.decor{
	width: 200px;
	height: 200px;
}

/* ------------------------ LAYOUT ------------------------ */

div.content{
	position: absolute;
	top: 10em;
	left: 20%;
	width: 60%;
	height: 60%;
	margin: auto;
	padding: 2em;
	text-align: left;
	background-color: #f0f0f5;
	font-size: 0.7em;
}

div.decor{
	position: absolute;
	z-index: 1;
	top: calc(10em + 60% - 200px - .2em);
	left: calc(80% - 150px - .3em);
}