/* ------------------------ GENERAL ------------------------ */
 
body{
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #CCCCFF;
}

/* ------------------------ HEADERS ------------------------ */

h1 {
	font-family: 'Amatic SC', 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 5em;
}

h2 {
	font-size: 1.5em;
}

/* ------------------------ IMAGES ------------------------ */

img.icon {
	margin: 0 auto;
	color: #FFF;
	opacity: 1;
	background-color: transparent;
	max-width: 100%;
}

img.icon:hover{
	transition: .3s ease-in-out;
	opacity: .7;
	background-color: transparent;
}

/* ------------------------ LAYOUT ------------------------ */

div.container{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

div.title{
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 2em;
	text-align: left;
}

div.content{
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 2em;
	text-align: left;
	font-size: 0.7em;
}

div.content-left{
	display: block;
	float: left;
	width: 67%;
}

div.content-right{
	display: block;
	float: right;
	width: 30%;
	margin-left: 3%;
}